.about-intro {
  padding-bottom: 2rem;

  &__inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2.4rem 3.2rem 11.2rem;
    min-height: 76.7rem;

    border-radius: 2rem;
    overflow: hidden;
    background-size: cover;

    color: #fff;
  }

  .breadcrumbs {
    align-self: flex-start;
    margin-bottom: 10.8rem;
  }

  &__title {
    margin-bottom: 1.6rem;
    
    font: var(--title-h0);
    text-align: center;
  }

  &__desc {
    display: flex;
    flex-direction: column;
    gap: 1.6rem;
    max-width: 49rem;
    margin-bottom: 3rem;

    font: var(--text-t1);
    text-align: center;
  }

  &__video {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: auto;

    cursor: pointer;
  }

  &__video-button {
    position: relative;

    display: flex;
    justify-content: center;
    align-items: center;
    width: 10.2rem;
    height: 10.2rem;
    margin-bottom: 4.4rem;
    
    border-radius: 50%;
    background-color: #fff;

    color: var(--black-color);

    &::before {
      content: '';

      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);

      width: 14.8rem;
      height: 14.8rem;

      background: url("../img/video-link-bg.png") no-repeat center;
      background-size: contain;

      animation-name: rotationIntroButton;
      animation-duration: 15s;
      animation-iteration-count: infinite;
      animation-timing-function: linear;
    }

    @keyframes rotationIntroButton {
      0% {
        transform: translate(-50%, -50%) rotate(0deg);
      }
      100% {
        transform: translate(-50%, -50%) rotate(360deg);
      }
    }

    svg {
      width: 2.2rem;
      height: 2.2rem;
      fill: var(--black-color);
    }
  }

  &__video-desc {
    display: block;
    max-width: 12rem;

    font: var(--text-t2);
    text-align: center;
  }
}