.catalog-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 4rem 2rem;

  opacity: 0;

  @include breakpoint(tablet) {
    grid-template-columns: repeat(3, 1fr);
  }

  @include breakpoint(small-tablet) {
    grid-template-columns: repeat(2, 1fr);
    gap: 3.6rem 1.6rem;
  }

  @include breakpoint(mobile) {
    gap: 3.4rem 1.2rem;
  }

  @media (max-width: 350px) {
    grid-template-columns: 1fr;
  }

  &--search {
    grid-template-columns: repeat(2, 1fr);
    gap: 0;

    @include breakpoint(small-tablet) {
      grid-template-columns: 1fr;
      gap: 2rem
    }

    .catalog-list__item {
      width: auto;
    }

    .catalog-list__item-link {
      display: flex;
      flex-direction: row;
      align-items: flex-start;
      gap: 1.6rem;
      width: 100%;
      height: 100%;
      max-width: 35.2rem;

      @include breakpoint(small-tablet) {
        max-width: none;
      }
    }

    .catalog-list__img {
      width: 100%;
      max-width: 13.6rem;
      height: 18rem;
      padding-top: 0;
      margin-bottom: 0;
      flex-shrink: 0;

      border-radius: 0.8rem 0.8rem 1.8rem 0.4rem;

      @include breakpoint(tablet) {
        height: 16rem;
        max-width: 12.1rem;
      }

      img {
        border-radius: 0.8rem 0.8rem 1.8rem 0.4rem;
      }
    }

    .catalog-list__basket {
      right: 1rem;
      bottom: 0.6rem;

      width: 4rem;
      height: 4rem;
    }

    .catalog-list__tags {
      display: none;
    }

    .catalog-list__price-block {
      font-size: 2rem;
    }

    .catalog-list__text {
      font: var(--text-t3);
    }

    .catalog-list__advantages {
      margin-bottom: 2rem;
    }
  }

  &__slider {
    margin: 0;
    overflow: visible;
  }

  &__item-link {
    position: relative;

    display: block;
    height: 100%;

    &:hover {
      .catalog-list__img picture {
        &:first-of-type {
          img {
            opacity: 0;
          }
        }

        &:last-of-type {
          img {
            opacity: 1;
          }
        }
      }
    }
  }

  &__img {
    position: relative;
    z-index: 2;

    padding-top: 141.64%;
    margin-bottom: 1.6rem;

    border-radius: 2rem 2rem 3.2rem 0.8rem;
    background-color: #EAE6E3;
    overflow: hidden;

    @include breakpoint(mobile) {
      padding-top: 128.91%;
      margin-bottom: 1.2rem;

      border-radius: 1rem 1rem 2.2rem 0.4rem;
    }

    img {
      position: absolute;
      left: 0;
      top: 0;

      width: 100%;
      height: 100%;
      object-fit: cover;

      border-radius: 2rem 2rem 3.2rem 0.8rem;

      transition: 0.6s;

      @include transitionfix();

      @include breakpoint(mobile) {
        border-radius: 1rem 1rem 2.2rem 0.4rem;
      }
    }

    picture {
      &:last-of-type {
        img {
          opacity: 0;
        }
      }
    }
  }

  &__tags {
    position: absolute;
    top: 2.5rem;
    right: 2.5rem;
    left: 2.5rem;

    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;

    @include breakpoint(tablet) {
      top: 2.2rem;
      left: 2.2rem;
    }

    @include breakpoint(small-tablet) {
      top: 1.8rem;
      left: 1.8rem;
    }

    @include breakpoint(mobile) {
      top: 1.1rem;
      left: 1.4rem;
    }
  }

  &__tag {
    display: flex;
    align-items: center;
    gap: 0.8rem;

    font: var(--other);
    text-transform: uppercase;

    svg {
      width: 1rem;
      height: 1.4rem;
    }
  }

  &__basket {
    position: absolute;
    right: 1.6rem;
    bottom: 1.6rem;
    z-index: 10;

    display: flex;
    justify-content: center;
    align-items: center;
    width: 5.2rem;
    height: 5.2rem;
    
    border-radius: 50%;
    background-color: #F7F7F7;

    @include breakpoint(small-tablet) {
      right: 1rem;
      bottom: 1rem;

      width: 4.6rem;
      height: 4.6rem;
    }

    @include breakpoint(mobile) {
      right: 0.6rem;
      bottom: 0.6rem;

      width: 4rem;
      height: 4rem;
    }

    svg {
      width: 2rem;
      height: 2rem;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-self: stretch;
  }

  &__price-block {
    display: flex;
    align-items: center;
    gap: 0.5rem 0;
    flex-wrap: wrap;
    margin-bottom: 1.2rem;

    font: var(--text-t1);

    @include breakpoint(mobile) {
      margin-bottom: 0.8rem;
    }
  }

  &__title {
    margin-right: 1.5rem;
    font-weight: 400;

    @include breakpoint(mobile) {
      margin-right: 0.8rem;
    }

    a::before {
      content: '';

      position: absolute;
      left: 0;
      z-index: 2;

      inset: 0;
    }
  }

  &__price-wrapper {
    display: flex;
    align-items: center;
  }

  &__price {
    position: relative;

    margin-left: 1.5rem;

    @include breakpoint(mobile) {
      margin-left: 0.8rem;
    }

    &--discount {
      padding: 0 0.4rem;
      margin-right: 1rem;

      background-color: var(--primary-color);
      border-radius: 0.4rem;

      font-weight: 500;
      color: #fff;
    }

    &::before {
      content: '';

      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: -1.5rem;

      width: 0.3rem;
      height: 0.3rem;
      flex-shrink: 0;

      border-radius: 50%;
      background-color: var(--black-color);

      @include breakpoint(mobile) {
        left: -0.8rem;

        width: 0.2rem;
        height: 0.2rem;
      }
    }
  }

  &__old-price {
    position: relative;
    font: var(--text-t3);

    &::before {
      content: '';

      position: absolute;
      left: -0.2rem;
      bottom: 0;
      transform: rotate(-12deg);
      transform-origin: left bottom;


      width: 100%;
      height: 2px;

      border-radius: 0.6rem;
      /*border-bottom: 2px solid var(--primary-color);*/
      background-color: var(--primary-color);
    }
  }

  &__text {
    max-width: 32rem;
    margin-bottom: 1.2rem;

    opacity: 0.5;

    font: var(--text-t2);

    @include breakpoint(mobile) {
      margin-bottom: 0.8rem;
    }
  }

  &__advantages {
    display: flex;
    gap: 1.2rem;

    svg {
      width: 2rem;
      height: 2rem;
    }
  }
}