.catalog {
  padding-bottom: 12rem;

  @include breakpoint(tablet) {
    padding-bottom: 10rem;
  }

  @include breakpoint(small-tablet) {
    padding-bottom: 8rem;
  }

  @include breakpoint(mobile) {
    padding-bottom: 6.7rem;
  }

  &__wrapper {
    display: flex;
    flex-direction: column;
  }

  &__header {
    position: relative;
    z-index: 2;

    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem 2.8rem 7.2rem;
    margin-bottom: 3.6rem;

    border-radius: 2rem;
    background-color: var(--gray-color);
    opacity: 0;

    @include breakpoint(tablet) {
      padding: 2rem 2.4rem 5rem;
      margin-bottom: 3rem;
    }

    @include breakpoint(small-tablet) {
      padding: 1.6rem 2rem 3rem;
      margin-bottom: 2.4rem;
    }

    @include breakpoint(mobile) {
      padding: 1.2rem 1.6rem 1.6rem;
      margin-bottom: 2rem;

      border-radius: 1.2rem;
    }
  }

  .breadcrumbs {
    align-self: flex-start;
    margin-bottom: 5.4rem;

    @include breakpoint(tablet) {
      margin-bottom: 4.6rem;
    }

    @include breakpoint(small-tablet) {
      margin-bottom: 3.8rem;
    }

    @include breakpoint(mobile) {
      margin-bottom: 3.2rem;
    }
  }

  &__title-wrapper {
    padding-bottom: 1.6rem;
    margin-bottom: 2.6rem;

    @include breakpoint(tablet) {
      margin-bottom: 1rem;
    }

    @include breakpoint(mobile) {
      margin-bottom: 0;
    }
  }

  &__title {
    font: var(--title-h1);
  }

  &__desc {
    display: flex;
    flex-direction: column;
    gap: 1.6rem;
    max-width: 50rem;
    margin-bottom: 3.2rem;

    opacity: 0.3;

    font: var(--text-t2);
    text-align: center;

    @include breakpoint(tablet) {
      margin-bottom: 2.6rem;
    }

    @include breakpoint(small-tablet) {
      margin-bottom: 2rem;
    }

    @include breakpoint(mobile) {
      max-width: 28rem;
      margin-bottom: 1.6rem;
    }
  }

  &__categories {
    width: 100%;

    @include breakpoint(tablet) {
      max-width: 40rem;
    }
  }

  &__categories-list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 0.8rem 1.2rem;
    max-width: 120rem;
    margin: 0 auto;

    @include breakpoint(tablet) {
      display: none;
    }
  }

  &__categories-link {
    background-color: #fff;
    transition: 0.3s;

    svg {
      width: 2rem;
      height: 2rem;
    }

    &.active {
      background-color: var(--primary-color);
      color: #fff;
    }
  }

  &__categories-more-button-block {
    position: relative;

    &--mobile {
      display: none;

      @include breakpoint(tablet) {
        display: block;
      }
    }

    &.active {
      .catalog__categories-more-button {
        background-color: var(--black-color);
        color: #fff;

        @include breakpoint(tablet) {
          background-color: #E8E8E8;
          color: var(--black-color);
        }

        svg {
          transform: rotate(0);
        }
      }

      .catalog__categories-more-button-dropdown {
        opacity: 1;
        visibility: visible;
      }
    }
  }

  &__categories-more-button {
    @include breakpoint(tablet) {
      justify-content: center;
      height: 5.2rem;
      padding: 0 2rem;

      border-radius: 6.5rem;
      border-color: #E8E8E8;
      background-color: #E8E8E8;

      &:hover {
        background-color: #E8E8E8;
        color: var(--black-color);
      }
    }

    svg {
      transform: rotate(180deg);
      transition: transform 0.3s;

      @include breakpoint(tablet) {
        width: 2.4rem;
        height: 2.4rem;
      }
    }
  }

  &__categories-more-button-dropdown {
    position: absolute;
    top: calc(100% + 1.3rem);
    left: 0;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.8rem;
    padding: 1.6rem;

    background-color: var(--gray-color);
    border-radius: 1.6rem;
    box-shadow: -0.3rem 0.4rem 3.2rem 0 rgba(0, 0, 0, 0.04), -0.3rem 0.4rem 0.7rem 0 rgba(0, 0, 0, 0.02);
    opacity: 0;
    visibility: hidden;

    @include breakpoint(tablet) {
      top: 0;

      width: 100%;
      padding-top: 7.2rem;
    }
  }

  &__categories-more-button-dropdown-header {
    position: absolute;
    top: 2.4rem;
    left: 1.6rem;
    right: 1.6rem;

    display: flex;
    align-items: center;
    justify-content: space-between;

    font-size: 2.4rem;
  }

  &__categories-more-button-close {
    svg {
      width: 1.2rem;
      height: 1.2rem;
    }
  }

  &__categories-more-button-dropdown-item {
    display: inline-flex;

    background-color: #fff;
    white-space: nowrap;

    transition: 0.3s;

    &.active {
      background-color: var(--primary-color);
      color: #fff;
    }

    svg {
      width: 2rem;
      height: 2rem;
    }
  }

  &__filter {
    position: relative;
    z-index: 1;

    display: flex;
    align-items: flex-end;
    gap: 5.3rem;
    margin-bottom: 2.8rem;

    opacity: 0;

    @include breakpoint(tablet) {
      justify-content: space-between;
      align-items: center;
      gap: 2rem;
      margin-bottom: 2.4rem;
    }

    @include breakpoint(small-tablet) {
      margin-bottom: 2rem;
    }

    @include breakpoint(mobile) {
      margin-bottom: 1.6rem;
    }
  }

  &__filter-count-block {
    display: flex;
    align-items: flex-end;
    gap: 0.8rem;

    @include breakpoint(mobile) {
      gap: 0.4rem;
    }
  }

  &__filter-count {
    font: var(--title-h1);

    margin-bottom: -0.7rem;

    @include breakpoint(mobile) {
      margin-bottom: -0.3rem;
    }
  }

  &__filter-count-desc {
    max-width: 9rem;

    font: var(--text-t2);
    opacity: 0.3;

    @include breakpoint(mobile) {
      max-width: 7rem;

      font-size: 1.2rem;
    }
  }

  &__filter-form {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    flex-grow: 1;

    @include breakpoint(tablet) {
      display: none;
    }
  }

  &__filter-from-top {
    display: flex;
    justify-content: flex-end;
  }

  &__filter-form-bottom {
    display: flex;
    align-items: center;
    gap: 2.8rem;
  }

  &__filter-select {
    position: relative;

    &.active {
      .catalog__filter-select-dropdown {
        opacity: 1;
        visibility: visible;
      }

      .catalog__filter-select-header svg {
        transform: rotate(0deg);
      }
    }
  }

  &__filter-select-count-block {
    position: absolute;
    left: 0;
    bottom: calc(100% + 0.4rem);

    opacity: 0;
    visibility: hidden;

    font: var(--text-t3);

    &.active {
      opacity: 0.3;
      visibility: visible;
    }
  }

  &__filter-select-header {
    display: flex;
    align-items: center;
    gap: 0.4rem;

    cursor: pointer;

    font: var(--text-t2);

    transition: 0.3s;

    &.active {
      color: var(--primary-color);
    }

    svg {
      transform: rotate(180deg);

      width: 1.6rem;
      height: 1.6rem;

      transition: 0.3s;
    }
  }

  &__filter-select-dropdown {
    position: absolute;
    left: 0;
    top: calc(100% + 1.2rem);

    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    padding: 2rem;

    opacity: 0;
    visibility: hidden;

    border-radius: 1.6rem;
    background-color: var(--gray-color);
    box-shadow: -0.3rem 0.4rem 3.2rem 0 rgba(0, 0, 0, 0.04), -0.3rem 0.4rem 0.7rem 0 rgba(0, 0, 0, 0.02);
  }

  &__filter-select-label {
    white-space: nowrap;
  }

  &__filter-price {
    display: flex;
    align-items: center;
    gap: 3rem;
    height: 2.4rem;
    padding: 0 1.6rem;

    border-radius: 6rem;
    background-color: var(--gray-color);

    font: var(--text-t3);
  }

  &__filter-price-range-wrapper {
    display: flex;
    align-items: center;
    gap: 1.6rem;
  }

  &__filter-price-range {
    width: 17rem;
    flex-shrink: 0;
  }

  &__filter-switch {
    margin-left: 0.4rem;
  }

  &__filter-checkbox {
    &:checked {
      & + .catalog__filter-label .catalog__filter-label-switch {
        background-color: var(--primary-color);
      }

      & + .catalog__filter-label .catalog__filter-label-switch::after {
        left: 1.5rem;
      }
    }

    &[disabled] + .catalog__filter-label .catalog__filter-label-switch {
      background-color: #E5E5E5;
    }
  }

  &__filter-label {
    display: flex;
    align-items: center;
    gap: 0.8rem;

    cursor: pointer;

    font: var(--text-t2);
  }

  &__filter-label-switch {
    position: relative;

    width: 2.6rem;
    height: 1.2rem;

    border-radius: 8rem;
    background-color: #BBBBBB;

    transition: 0.3s;

    &::after {
      content: '';

      position: absolute;
      left: 2px;
      top: 2px;
      bottom: 2px;

      width: 0.8rem;
      height: 0.8rem;

      border-radius: 50%;
      background-color: #fff;

      transition: 0.3s;
    }
  }

  &__filter-button {
    display: flex;
    align-items: center;
    gap: 0.8rem;
    margin-left: auto;

    font: var(--other-2);
    letter-spacing: 0.2em;
    text-transform: uppercase;

    svg {
      width: 1.2rem;
      height: 1.2rem;
    }
  }

  &__filter-open-button {
    display: none;
    align-items: center;
    gap: 0.8rem;

    font: var(--text-t1);

    svg {
      width: 2rem;
      height: 2rem;
    }

    @include breakpoint(tablet) {
      display: flex;
    }
  }

  .catalog-list {
    margin-bottom: 6rem;
    opacity: 0;

    @include breakpoint(tablet) {
      margin-bottom: 5.5rem;
    }

    @include breakpoint(small-tablet) {
      margin-bottom: 5rem;
    }

    @include breakpoint(mobile) {
      margin-bottom: 4rem;
    }
  }

  &__footer {
    position: relative;

    display: flex;
    align-items: center;
    justify-content: center;

    @include breakpoint(tablet) {
      flex-direction: column;
      gap: 3rem;
    }

    @include breakpoint(mobile) {
      gap: 2rem;
    }
  }

  &__more-button {
    justify-content: center;
    width: 100%;
    max-width: 28rem;
    height: 5.2rem;

    font: var(--text-t2);

    @include breakpoint(tablet) {
      max-width: 35rem;
    }
  }

  &__pagination {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);

    display: flex;
    align-items: center;
    gap: 4rem;
    align-self: center;

    @include breakpoint(tablet) {
      position: static;
      transform: none;
    }

    @media (max-width: 375px) {
      width: 100%;
      gap: 0;
      justify-content: space-between;
    }
  }

  &__pagination-numbers {
    display: flex;
    gap: 0.8rem;

    @media (max-width: 360px) {
      gap: 0;
    }

    a:hover {
      opacity: 0.7;
    }
  }

  &__pagination-number {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 3.6rem;
    height: 3.6rem;

    border-radius: 50%;

    transition: 0.3s;

    &--hide-on-mobile {
      @include breakpoint(mobile) {
        display: none;
      }
    }

    &.active {
      border: 1px solid var(--black-color);
    }
  }

  &__pagination-prev, &__pagination-next {
    display: flex;
    align-items: center;
    gap: 1rem;

    font: var(--other-2);
    text-transform: uppercase;
    letter-spacing: 0.2em;

    &:hover {
      color: rgba(28, 28, 28, 0.7);
    }

    svg {
      width: 2.4rem;
      height: 2.4rem;

      transition: 0.3s;
    }
  }

  &__pagination-prev {
    svg {
      transform: rotate(-90deg);
    }
  }

  &__pagination-next {
    svg {
      transform: rotate(90deg);
    }
  }
}