.lines {
  padding-bottom: 12rem;

  opacity: 0;

  @include breakpoint(tablet) {
    padding-bottom: 10rem;
  }

  @include breakpoint(small-tablet) {
    padding-bottom: 8rem;
  }

  @include breakpoint(mobile) {
    padding-bottom: 6rem;
  }

  &__inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 8rem 4rem 6rem;

    background: var(--primary-color) url("../img/lines-bg.svg") no-repeat top 0 right 0;
    border-radius: 2rem;

    color: #fff;

    @include breakpoint(tablet) {
      padding: 7.5rem 3.5rem 6rem;
    }

    @include breakpoint(small-tablet) {
      padding: 7rem 3rem 5.5rem;
    }

    @include breakpoint(mobile) {
      padding: 6rem 2rem 5rem;

      border-radius: 1rem;
    }
  }

  &__desc {
    margin-bottom: 2.8rem;

    font: var(--other);
    letter-spacing: 0.2em;
    text-transform: uppercase;

    @include breakpoint(tablet) {
      margin-bottom: 2.4rem;
    }

    @include breakpoint(small-tablet) {
      margin-bottom: 2rem;
    }

    @include breakpoint(mobile) {
      margin-bottom: 1.6rem;
    }
  }

  &__title {
    max-width: 87rem;
    margin-bottom: 6.4rem;

    font: var(--title-h1);
    text-align: center;

    @include breakpoint(tablet) {
      margin-bottom: 5.5rem;
    }

    @include breakpoint(small-tablet) {
      margin-bottom: 5rem;
    }

    @include breakpoint(mobile) {
      margin-bottom: 4.5rem;
    }

    span {
      opacity: 0.2;
    }
  }
  
  &__list {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 4rem 10rem;
    max-width: 122rem;
    margin: 0 auto;

    @include breakpoint(tablet) {
      grid-template-columns: repeat(4, 1fr);
      gap: 4rem 7rem;
    }

    @include breakpoint(small-tablet) {
      grid-template-columns: repeat(3, 1fr);
      gap: 4rem;
    }

    @include breakpoint(mobile) {
      grid-template-columns: repeat(2, 1fr);
      gap: 4rem 2rem;
    }
  }

  &__item-link {
    height: 100%;
    text-align: center;

    &:hover {
      .lines__item-title::before {
        transform: translateX(-50%) scaleX(1);
      }
    }
  }

  &__item-img {
    position: relative;

    padding-top: 160.2%;
    margin-bottom: 3.7rem;

    transition: 0.3s;

    @include breakpoint(mobile) {
      padding-top: 120%;
    }

    img {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);

      width: 100%;
      max-width: 90%;
      height: 100%;
      max-height: 85%;
      object-fit: contain;
    }
  }

  &__item-title {
    position: relative;

    margin-bottom: 1.5rem;
    font: var(--text-t1);

    &::before {
      content: '';

      position: absolute;
      bottom: calc(100% + 1.2rem);
      left: 50%;
      transform: translateX(-50%) scaleX(0);

      width: 3rem;
      height: 1rem;

      background: url("../img/icons/slider-arrow-white.svg") no-repeat center;
      background-size: contain;

      transition: 0.3s;
    }
  }

  &__item-text {
    font: var(--text-t3);
    opacity: 0.3;

    @include breakpoint(tablet) {
      display: none;
    }
  }
}