.lines {
  padding-bottom: 12rem;

  &__inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 8rem 4rem 6rem;

    background: var(--primary-color) url("../img/lines-bg.svg") no-repeat top 0 right 0;
    border-radius: 2rem;

    color: #fff;
  }

  &__desc {
    margin-bottom: 2.8rem;

    font: var(--other-2);
    letter-spacing: 0.2em;
    text-transform: uppercase;
  }

  &__title {
    max-width: 87rem;
    margin-bottom: 6.4rem;

    font: var(--title-h1);
    text-align: center;

    span {
      opacity: 0.2;
    }
  }
  
  &__list {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 4rem 10rem;
    max-width: 110rem;
    margin: 0 auto;
  }

  &__item-link {
    height: 100%;
    text-align: center;
  }

  &__item-img {
    position: relative;

    padding-top: 160.2%;
    margin-bottom: 3.7rem;

    img {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);

      width: 100%;
      max-width: 90%;
      height: 100%;
      max-height: 85%;
      object-fit: contain;

      filter: drop-shadow(-34.9054px -8.80987px 22px rgba(0, 0, 0, 0.08)) drop-shadow(-23.6541px -5.97012px 13.61px rgba(0, 0, 0, 0.0957407)) drop-shadow(-16.7417px -4.22548px 8.5963px rgba(0, 0, 0, 0.0839259)) drop-shadow(-12.5441px -3.16605px 5.84375px rgba(0, 0, 0, 0.0715)) drop-shadow(-9.43738px -2.38193px 4.23704px rgba(0, 0, 0, 0.0554074)) drop-shadow(-5.79736px -1.46321px 2.66088px rgba(0, 0, 0, 0.0325926));
    }
  }

  &__item-title {
    margin-bottom: 1.5rem;
    font: var(--text-t2);
  }

  &__item-text {
    font: var(--text-t4);
    opacity: 0.3;
  }
}