.popular {
  padding-bottom: 12rem;

  &__company-name {
    display: block;
    margin-bottom: 2.7rem;

    font: var(--other-2);
    letter-spacing: 0.2em;
    text-transform: uppercase;
    text-align: center;
  }

  &__title {
    margin-bottom: 7.2rem;
    
    font: var(--title-h1);
    text-align: center;
  }
}