.press-filter {
  display: flex;
  align-items: center;

  font: var(--title-h3);

  &__container {
    overflow: visible;
  }

  &__radio-wrapper {
    display: flex;
    align-items: center;
    padding-bottom: 0.9rem;
    width: auto;

    flex-shrink: 0;

    overflow: hidden;

    &:not(:last-of-type) {
      .press-filter__label::after {
        content: '';

        width: 1.2rem;
        height: 1.2rem;
        margin: 0.4rem 4.4rem 0;
        flex-shrink: 0;

        background: url("../img/icons/star-icon.svg") no-repeat center;
        background-size: cover;

        @include breakpoint(tablet) {
          margin: 0.4rem 3rem 0;
        }

        @include breakpoint(small-tablet) {
          margin: 0.4rem 2.4rem 0;
        }
      }
    }
  }

  &__radio-container {
    opacity: 0;
  }

  &__radio {
    &:checked + label {
      opacity: 1;

      span::before {
        width: 0;
      }
    }
  }

  &__label {
    position: relative;

    display: flex;
    align-items: center;
    flex-shrink: 0;

    white-space: nowrap;
    opacity: 0.15;
    cursor: pointer;

    transition: 0.3s;

    span {
      position: relative;

      &::before {
        content: '';

        position: absolute;
        top: 100%;
        left: 0;

        width: 100%;
        height: 0.3rem;

        background-color: var(--black-color);

        transition: 0.3s;

        @include breakpoint(mobile) {
          display: none;
        }
      }
    }
  }
}