<section class="basket-popular">
    <div class="container">
        <div class="basket-popular__title-wrapper">
            <h2 class="basket-popular__title js-title-animate">Популярные товары</h2>
        </div>
        {{> catalog-list data=popular }}
    </div>
</section>