<div class="breadcrumbs js-section-animate">
    <ul class="breadcrumbs__list">
        {{#each data }}
            <li class="breadcrumbs__item">
                <a class="breadcrumbs__link" href="{{this.link}}">{{this.text}}</a>
            </li>
        {{/each}}
    </ul>
</div>