<div class="cards-navigation">
    <button class="cards-navigation__more-button button button--bordered" type="submit">Показать еще</button>
    <div class="cards-navigation__pagination">
        <a class="cards-navigation__pagination-prev" href="#">
            <svg>
                <use xlink:href="#arrow-down-icon"></use>
            </svg>
        </a>
        <div class="cards-navigation__pagination-numbers">
            <a class="cards-navigation__pagination-number active" href="#">1</a>
            <a class="cards-navigation__pagination-number" href="#">2</a>
            <a class="cards-navigation__pagination-number" href="#">3</a>
            <a class="cards-navigation__pagination-number cards-navigation__pagination-number--hide-on-mobile" href="#">4</a>
            <a class="cards-navigation__pagination-number cards-navigation__pagination-number--hide-on-mobile" href="#">5</a>
            <span class="cards-navigation__pagination-number" href="#">...</span>
            <a class="cards-navigation__pagination-number" href="#">10</a>
        </div>
        <a class="cards-navigation__pagination-next" href="#">
            <svg>
                <use xlink:href="#arrow-down-icon"></use>
            </svg>
        </a>
    </div>
</div>