<div class="details">
    <div class="details__content">
        <h3 class="details__title">Детали заказа</h3>
        <ul class="details__list">
            {{#each details }}
                <li class="details__item">
                    <span class="details__item-name">{{this.name}}</span>
                    <span class="details__item-value{{#if promocode }} details__item-value--red{{/if}}">{{this.value}}</span>
                </li>
            {{/each}}
        </ul>
        <div class="details__result">
            <span class="details__result-desc">Итого</span>
            <span class="details__result-sum">6 000 ₽</span>
        </div>
        {{#if deliver }}
            <div class="details__deliver">
                                <span class="details__deliver-desc">
                                    <span class="details__deliver-count">730</span> ₽ до бесплатной доставки
                                </span>
                <div class="details__deliver-indicator">
                    <div class="details__deliver-indicator-progress"></div>
                </div>
            </div>
        {{/if}}
        <a class="details__link button button--green" href="#">{{this.buttonText}}</a>
        {{#if clickButton }}
            <a class="details__modal-link" href="#click">Купить в 1 клик</a>
        {{/if}}
    </div>
    {{#if promoCode }}
        <form class="details__promo-code" action="#">
            <input class="details__promo-code-input" name="detailsPromoCode" id="detailsPromoCode" type="text" placeholder="Введите промокод">
            <button class="details__promo-code-button button button--black">Применить</button>
        </form>
    {{/if}}
</div>