<footer class="footer">
    <div class="container">
        <div class="footer__top">
            <div class="footer__top-img">
                <img class="lazyload" data-src="img/footer-top.png" alt="Таблетки">
            </div>
            <p class="footer__top-desc">
                Хотите стать частью бренда
                и&nbsp;продавать нашу продукцию?
            </p>
            <a class="footer__top-link" href="#distributor"></a>
        </div>
    </div>
</footer>