<div class="mailing js-section-animate">
    <h2 class="mailing__title">Подписывайтесь на&nbsp;нашу&nbsp;рассылку</h2>
    <img class="mailing__photo lazyload" data-src="img/mailing-1.png" alt="Фото ноутбука">
    <div class="mailing__mail">
        <form class="mailing__form">
            <input class="mailing__input" name="mailing" id="mailing" type="email" placeholder="Укажите e-mail">
            <button class="mailing__button" type="submit" aria-label="Отправить">
                <svg>
                    <use xlink:href="#mailing-arrow-icon"></use>
                </svg>
            </button>
        </form>
        <p class="mailing__desc">
            При подписке вы принимаете условия<br>
            <a href="#">Политики конфиденциальности</a>&nbsp;и <a href="#">Обработки персональных данных</a>
        </p>
    </div>
</div>