<div class="post">
    <div class="post__content">
        <h2 class="post__title">Здоровое сердце,<span><br>счастливая жизнь</span></h2>
        <div class="post__text">
            <p>
                Сердце человека — это конусообразный полый мышечный орган, в который поступает кровь из впадающих в него
                венозных стволов и перекачивающий её в артерии, которые примыкают к сердцу. Полость сердца разделена на
                два предсердия и два желудочка. Левое предсердие и левый желудочек в совокупности образуют «артериальное
                сердце», названное так по типу проходящей через него крови, правый желудочек и правое предсердие
                объединяются в «венозное сердце», названное по тому же принципу. Сокращение сердца называется систолой,
                а расслабление — диастолой.
                Форма сердца не одинакова у разных людей. Она определяется возрастом, полом, телосложением, здоровьем и
                другими факторами.
            </p>
            <p>
                В упрощенных моделях описывается сферой, эллипсоидами, фигурами пересечения эллиптического параболоида и
                трёхосного эллипсоида. Мера вытянутости (фактор) формы есть отношение наибольших продольного и
                поперечного линейных размеров сердца. При гиперстеническом типе телосложения отношение близко к единице
                и астеническом — порядка 1,5. Длина сердца взрослого человека колеблется от 10 до 15 см (чаще 12—13 см),
                ширина в основании 8—11 см (чаще 9—10 см) и переднезадний размер 5—8,5 см (чаще 6,5—7 см). Масса сердца
                в среднем составляет у мужчин 332 г (от 274 до 385 г), у женщин — 253 г (от 203 до 302 г).
            </p>
        </div>
    </div>
    <div class="post__img">
        <picture>
            <source data-srcset="img/catalog-post.webp" type="image/webp">
            <img class="lazyload" data-src="img/catalog-post.jpg" alt="Фото поста">
        </picture>
    </div>
</div>