<div class="slider-navigation{{#if mod }} {{mod}}{{/if}} js-slider-navigation">
    <button class="slider-navigation__button js-prev-slide">
        <svg>
            <use xlink:href="#slider-arrow"></use>
        </svg>
    </button>
    <button class="slider-navigation__button js-next-slide">
        <svg>
            <use xlink:href="#slider-arrow"></use>
        </svg>
    </button>
</div>