<div class="modal modal-distributor js-modal js-modal-distributor">
    <div class="modal__container">
        <div class="modal__inner">
            <button class="modal__close js-close-modal" type="button" title="Закрыть">
                <svg>
                    <use xlink:href="#close-icon"></use>
                </svg>
            </button>
            <div class="modal__content">
                <h3 class="modal-distributor__title">Хочу стать дистрибьютором</h3>
                <form class="modal-distributor__form" data-need-validation="true" action="#">
                    <div class="modal-distributor__inputs">
                        <div class="modal-distributor__input-wrapper input-wrapper">
                            <input class="modal-distributor__input input" data-parsley-pattern="^[а-яА-ЯA-Za-z- ]+[^\s]+$" type="text" name="distributorName" id="distributorName" required>
                            <label class="modal-distributor__label" for="distributorName">Фамилия Имя</label>
                        </div>
                        <div class="modal-distributor__input-wrapper input-wrapper">
                            <input class="modal-distributor__input input js-phone-input" type="tel" name="distributorPhone" id="distributorPhone" required>
                            <label class="modal-distributor__label" for="distributorPhone">Номер телефона</label>
                        </div>
                        <div class="modal-distributor__input-wrapper input-wrapper">
                            <input class="modal-distributor__input input" type="email" name="distributorMail" id="distributorMail" required>
                            <label class="modal-distributor__label" for="distributorMail">Почта</label>
                        </div>
                        <div class="modal-distributor__input-wrapper input-wrapper">
                            <input class="modal-distributor__input input" data-parsley-pattern="^[а-яА-ЯA-Za-z- ]+[^\s]+$" type="text" name="distributorCity" id="distributorCity" required>
                            <label class="modal-distributor__label" for="distributorCity">Город</label>
                        </div>
                    </div>
                    <div class="modal-distributor__form-footer">
                        <button class="modal-distributor__button button button--bordered" type="submit">Отправить</button>
                        <div class="modal-distributor__checkbox-container">
                            <div class="modal-distributor__checkbox-block">
                                <input type="checkbox" class="modal-distributor__checkbox checkbox" name="distributorConfidence" id="distributorConfidence" required>
                                <label class="modal-distributor__checkbox-label" for="distributorConfidence">
                                    <span><span>Я согласен(а) на обработку</span><a href="#" download="">&nbsp;персональных данных</a></span>
                                </label>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<!--

    @include breakpoint(tablet) {

    }

    @include breakpoint(small-tablet) {

    }

    @include breakpoint(mobile) {

    }

-->