{{#extend "layout"}}
    {{#content "main"}}

        <section class="press-center">
            <div class="container">
                {{> breadcrumbs data=breadcrumbs }}
                <div class="press-center__title-wrapper">
                    <h1 class="press-center__title js-title-animate">Пресс-центр</h1>
                </div>
                <div class="press-center__filter">
                    {{> press-filter data=pressFilter }}
                </div>
                <ul class="press-center__main-news js-section-animate">
                    {{#each mainNews }}
                        <li class="press-center__main-new">
                            <a class="press-center__main-new-link" href="news-single.html">
                                <div class="press-center__main-new-img">
                                    <picture>
                                        <source data-srcset="{{this.imgWebp}}" type="image/webp">
                                        <img class="lazyload" data-src="{{this.img}}" alt="Фото новости">
                                    </picture>
                                </div>
                                <div class="press-center__main-new-content">
                                    <span class="press-center__main-new-time">{{this.time}}</span>
                                    <div class="press-center__main-new-info">
                                        <h3 class="press-center__main-new-title">{{this.title}}</h3>
                                        <div class="press-center__main-new-text">
                                            <p>
                                                То место, где рождается здоровье, забота и любовь к самому себе.
                                            </p>
                                            <p>
                                                22 июля состоялось открытие новой производственной площадки в Казани.
                                                <br>Это место по праву считается одним из лучших, ведь оно соотвествует всем
                                                инновационным технологиям и отвечает самым последним стандартам качества.
                                            </p>
                                            <p>
                                                Компании Natural Health 5 лет, уже многое сделано с большим успехом, а
                                                сколько еще будет!
                                            </p>
                                            <p>
                                                Дорогие друзья, рады сообщить, что
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </li>
                    {{/each}}
                </ul>
                {{> mailing }}
                {{> news-list data=news }}
                {{> cards-navigation }}
            </div>
        </section>

    {{/content}}
{{/extend}}